In [1]:
import pandas as pd

In [8]:
pip install nba_api

Requirement already satisfied: nba_api in c:\users\micha\anaconda3\envs\cse6242\lib\site-packages (1.1.13)
Requirement already satisfied: requests in c:\users\micha\anaconda3\envs\cse6242\lib\site-packages (from nba_api) (2.24.0)
Requirement already satisfied: numpy in c:\users\micha\anaconda3\envs\cse6242\lib\site-packages (from nba_api) (1.20.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\micha\anaconda3\envs\cse6242\lib\site-packages (from requests->nba_api) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\micha\anaconda3\envs\cse6242\lib\site-packages (from requests->nba_api) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in c:\users\micha\anaconda3\envs\cse6242\lib\site-packages (from requests->nba_api) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\micha\anaconda3\envs\cse6242\lib\site-packages (from requests->nba_api) (1.25.11)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from nba_api.stats.endpoints import playercareerstats
from nba_api.live.nba.endpoints import scoreboard
from nba_api.stats.endpoints import boxscorematchups
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.static import teams
from nba_api.stats.endpoints import playergamelogs
from nba_api.stats.endpoints import boxscoretraditionalv2

In [2]:
#Reads data created in NBA data access file
df = pd.read_csv('merged_df.csv')

In [10]:
gamefinder = leaguegamefinder.LeagueGameFinder()
games = gamefinder.get_data_frames()[0]
games_by_season = games[(games.SEASON_ID == "22022")]

games_by_season

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
334,22022,1610612765,DET,Detroit Pistons,0022201223,2023-04-09,DET @ CHI,L,240,81,...,0.769,15,44,59,20,1,3,24,16,-22.0
335,22022,1610612756,PHX,Phoenix Suns,0022201229,2023-04-09,PHX vs. LAC,L,240,114,...,0.727,12,35,47,29,4,3,7,21,-5.0
336,22022,1610612739,CLE,Cleveland Cavaliers,0022201218,2023-04-09,CLE vs. CHA,L,241,95,...,0.938,11,33,44,27,9,5,16,24,-11.0
337,22022,1610612759,SAS,San Antonio Spurs,0022201224,2023-04-09,SAS @ DAL,W,240,138,...,0.700,13,56,69,31,2,3,12,13,21.0
340,22022,1610612752,NYK,New York Knicks,0022201220,2023-04-09,NYK vs. IND,L,241,136,...,0.773,19,34,53,29,8,8,15,24,-5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9007,22022,1611661325,IND,Indiana Fever,1022200001,2022-05-06,IND @ WAS,L,201,70,...,0.625,12,30,42,17,3,4,14,20,-14.0
9022,22022,1611661322,WAS,Washington Mystics,1022200001,2022-05-06,WAS vs. IND,W,200,84,...,0.900,6,25,31,20,4,5,7,12,14.0
9033,22022,1611661320,LAS,Los Angeles Sparks,1022200002,2022-05-06,LAS @ CHI,W,226,98,...,0.818,8,28,36,20,19,4,20,20,7.0
9036,22022,1611661328,SEA,Seattle Storm,1022200004,2022-05-06,SEA vs. MIN,W,201,97,...,1.000,4,25,29,26,14,8,14,17,23.0
9052,22022,1611661329,CHI,Chicago Sky,1022200002,2022-05-06,CHI vs. LAS,L,225,91,...,0.800,6,25,31,28,11,2,25,22,-7.0

In [3]:
df

,GAME_ID,GAME_DATE,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,PTS,REB,STL,AST,TO,BLK,FGA,FG_PCT,FG3A,FTA,START_POSITION
0,22201191,2023-04-05,1610612764,WAS,Washington,1630557,Corey Kispert,12.0,2.0,1.0,1.0,1.0,0.0,12.0,0.417,8.0,2.0,F
1,22201191,2023-04-05,1610612764,WAS,Washington,1630264,Anthony Gill,4.0,5.0,0.0,0.0,0.0,0.0,4.0,0.500,1.0,2.0,F
2,22201191,2023-04-05,1610612764,WAS,Washington,1629655,Daniel Gafford,25.0,10.0,1.0,1.0,3.0,2.0,10.0,0.800,0.0,9.0,C
3,22201191,2023-04-05,1610612764,WAS,Washington,1631098,Johnny Davis,20.0,7.0,2.0,3.0,4.0,2.0,18.0,0.444,4.0,5.0,G
4,22201191,2023-04-05,1610612764,WAS,Washington,1630692,Jordan Goodwin,10.0,2.0,4.0,6.0,1.0,1.0,10.0,0.400,3.0,2.0,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21368,1522200006,2022-07-08,1610612749,MIL,Milwaukee,26954,Sylvain Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21369,1522200006,2022-07-08,1610612749,MIL,Milwaukee,26955,Evans Ganapamo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21370,1522200006,2022-07-08,1610612749,MIL,Milwaukee,1629787,Marcus Graves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21371,1522200006,2022-07-08,1610612749,MIL,Milwaukee,1631129,Iverson Molinar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21372,1522200006,2022-07-08,1610612749,MIL,Milwaukee,26956,Timothy Soares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
#Our MVP focuses on predictions of games on APril 2 - This selects those games.
game_date = (df['GAME_DATE'] == '2023-04-02')
game_date_filtered_df = df[game_date]
game_date_filtered_df = game_date_filtered_df.reset_index(drop=True)
game_date_filtered_df

,GAME_ID,GAME_DATE,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,PTS,REB,STL,AST,TO,BLK,FGA,FG_PCT,FG3A,FTA
0,22201166,2023-04-02,1610612757,POR,Portland,1629680,Matisse Thybulle,2.0,4.0,3.0,0.0,0.0,0.0,6.0,0.167,2.0,0.0
1,22201166,2023-04-02,1610612757,POR,Portland,1630570,Trendon Watford,15.0,3.0,0.0,2.0,1.0,0.0,8.0,0.750,2.0,5.0
2,22201166,2023-04-02,1610612757,POR,Portland,1629234,Drew Eubanks,12.0,5.0,2.0,2.0,2.0,3.0,11.0,0.455,2.0,2.0
3,22201166,2023-04-02,1610612757,POR,Portland,1631101,Shaedon Sharpe,27.0,6.0,0.0,6.0,1.0,0.0,19.0,0.474,7.0,9.0
4,22201166,2023-04-02,1610612757,POR,Portland,1630219,Skylar Mays,13.0,3.0,0.0,9.0,2.0,0.0,9.0,0.667,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,22201165,2023-04-02,1610612741,CHI,Chicago,1631207,Dalen Terry,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000,1.0,0.0
156,22201165,2023-04-02,1610612741,CHI,Chicago,1629750,Javonte Green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,22201165,2023-04-02,1610612741,CHI,Chicago,1630637,Carlik Jones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,22201165,2023-04-02,1610612741,CHI,Chicago,1630250,Marko Simonovic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,22201165,2023-04-02,1610612741,CHI,Chicago,1630678,Terry Taylor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
#For each team we collect whwat their last 10 games were prior to April 2 for the players who we are predicting as part of MVP

game_id_filter = (df['TEAM_ID'] == 1610612764)
filtered_df = df[game_id_filter]
filtered_df = filtered_df.reset_index(drop=True)
filtered_df

,GAME_ID,GAME_DATE,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,PTS,REB,STL,AST,TO,BLK,FGA,FG_PCT,FG3A,FTA,START_POSITION
0,22201191,2023-04-05,1610612764,WAS,Washington,1630557,Corey Kispert,12.0,2.0,1.0,1.0,1.0,0.0,12.0,0.417,8.0,2.0,F
1,22201191,2023-04-05,1610612764,WAS,Washington,1630264,Anthony Gill,4.0,5.0,0.0,0.0,0.0,0.0,4.0,0.500,1.0,2.0,F
2,22201191,2023-04-05,1610612764,WAS,Washington,1629655,Daniel Gafford,25.0,10.0,1.0,1.0,3.0,2.0,10.0,0.800,0.0,9.0,C
3,22201191,2023-04-05,1610612764,WAS,Washington,1631098,Johnny Davis,20.0,7.0,2.0,3.0,4.0,2.0,18.0,0.444,4.0,5.0,G
4,22201191,2023-04-05,1610612764,WAS,Washington,1630692,Jordan Goodwin,10.0,2.0,4.0,6.0,1.0,1.0,10.0,0.400,3.0,2.0,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,1522200013,2022-07-09,1610612764,WAS,Washington,1628591,Craig Sword,2.0,2.0,0.0,0.0,0.0,0.0,1.0,1.000,0.0,0.0,NaN
1081,1522200013,2022-07-09,1610612764,WAS,Washington,1629788,Tyler Hall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1082,1522200013,2022-07-09,1610612764,WAS,Washington,1631293,Davion Mintz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1083,1522200013,2022-07-09,1610612764,WAS,Washington,1630311,Pat Spencer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1084,1522200013,2022-07-09,1610612764,WAS,Washington,26962,Arturs Zagars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
new_df = filtered_df.drop_duplicates(subset=['TEAM_ID','GAME_ID','GAME_DATE'])
new_df = new_df.loc[:, ['TEAM_ID','GAME_ID','GAME_DATE']]
new_df = new_df.reset_index(drop=True)
new_df

       TEAM_ID     GAME_ID   GAME_DATE
0   1610612764    22201191  2023-04-05
1   1610612764    22201179  2023-04-04
2   1610612764    22201168  2023-04-02
3   1610612764    22201151  2023-03-31
4   1610612764    22201130  2023-03-28
..         ...         ...         ...
80  1610612764  1522200074  2022-07-17
81  1610612764  1522200058  2022-07-15
82  1610612764  1522200041  2022-07-13
83  1610612764  1522200021  2022-07-10
84  1610612764  1522200013  2022-07-09

[85 rows x 3 columns]

In [88]:
last_10_games = new_df.iloc[3:13:]
last_10_games

       TEAM_ID   GAME_ID   GAME_DATE
3   1610612764  22201151  2023-03-31
4   1610612764  22201130  2023-03-28
5   1610612764  22201119  2023-03-26
6   1610612764  22201098  2023-03-24
7   1610612764  22201083  2023-03-22
8   1610612764  22201077  2023-03-21
9   1610612764  22201059  2023-03-18
10  1610612764  22201049  2023-03-17
11  1610612764  22201028  2023-03-14
12  1610612764  22201016  2023-03-12

In [89]:
game_ids = last_10_games['GAME_ID'].tolist()
filtered_df = df.loc[(df['TEAM_ID'] == 1610612764) & (df['GAME_ID'].isin(game_ids))]

# Group the filtered dataframe by player and calculate the average of PTS, REB, STL, and AST
team_grouped_df = filtered_df.groupby(['TEAM_ID','PLAYER_ID', 'PLAYER_NAME']).mean()[['PTS', 'REB', 'STL', 'AST','FGA','FG_PCT','FG3A','FTA',]].reset_index()

# Print the grouped dataframe

#team_grouped_df = team_grouped_df[1:]
#team_grouped_df = team_grouped_df[team_grouped_df['PLAYER_NAME'] != 'Kyrie Irving']
team_grouped_df = team_grouped_df.dropna()
team_grouped_df = team_grouped_df[team_grouped_df['PTS'] != 0]
team_grouped_df.to_csv('WAS_grouped_df_last_10games.csv', index=False)
team_grouped_df

,TEAM_ID,PLAYER_ID,PLAYER_NAME,PTS,REB,STL,AST,FGA,FG_PCT,FG3A,FTA
0,1610612764,201959,Taj Gibson,2.285714,1.000000,0.285714,0.571429,1.714286,0.500000,0.000000,0.571429
1,1610612764,203078,Bradley Beal,21.400000,4.600000,0.800000,5.000000,15.400000,0.493200,3.800000,5.600000
2,1610612764,204001,Kristaps Porzingis,22.875000,7.375000,1.250000,3.250000,16.750000,0.507750,4.875000,4.125000
3,1610612764,1626153,Delon Wright,7.700000,4.100000,0.600000,3.100000,6.800000,0.403100,2.700000,1.300000
4,1610612764,1628398,Kyle Kuzma,17.333333,6.666667,1.000000,2.666667,14.666667,0.412333,6.333333,3.333333
5,1610612764,1628420,Monte Morris,10.666667,3.111111,0.444444,4.888889,9.111111,0.464778,3.222222,0.888889
6,1610612764,1629134,Kendrick Nunn,5.875000,0.750000,0.500000,0.750000,5.125000,0.423125,3.125000,0.250000
7,1610612764,1629655,Daniel Gafford,8.777778,5.333333,0.666667,1.555556,6.111111,0.599444,0.000000,2.222222
8,1610612764,1630166,Deni Avdija,12.000000,7.400000,0.600000,4.500000,10.000000,0.447000,3.700000,2.400000
9,1610612764,1630264,Anthony Gill,3.000000,1.900000,0.100000,0.800000,2.100000,0.403300,0.200000,1.600000
10,1610612764,1630557,Corey Kispert,17.100000,3.200000,0.100000,1.300000,11.900000,0.529400,7.800000,1.500000
11,1610612764,1630643,Jay Huff,2.333333,1.333333,0.000000,0.333333,0.666667,0.333333,0.333333,1.666667
12,1610612764,1630692,Jordan Goodwin,7.111111,2.666667,0.666667,2.222222,5.888889,0.400222,2.444444,1.555556
13,1610612764,1631098,Johnny Davis,6.200000,2.700000,0.200000,0.700000,6.700000,0.378000,2.800000,1.000000
15,1610612764,1631245,Quenton Jackson,2.000000,0.000000,1.000000,0.000000,3.000000,0.333000,1.000000,0.000000
16,1610612764,1641645,Xavier Cooks,0.800000,1.200000,0.000000,0.200000,0.400000,0.400000,0.000000,0.000000

In [92]:
#THis code is used for testing to determine the MSEs and actual vs. predicted points for players who played in the APril 2 games.
#This code was used in R file for output analysis.


filtered_df = df[df['GAME_DATE'] >= '2023-01-01']
filtered_df = filtered_df.iloc[:,0:8]
games_by_season['GAME_ID'] = games_by_season['GAME_ID'].astype(int)
filtered_df = pd.merge(filtered_df, games_by_season[['GAME_ID', 'MATCHUP']], on='GAME_ID', how='inner')
filtered_df['WHERE_PLAYED'] = filtered_df['MATCHUP'].apply(lambda x: 'AWAY_GAME' if '@' in x else 'HOME_GAME')
filtered_df[['team1', 'team2']] = filtered_df['MATCHUP'].str.split('@|vs.', expand=True)

filtered_df['team1'] = filtered_df['team1'].str.strip()
filtered_df['team2'] = filtered_df['team2'].str.strip()

filtered_df.loc[filtered_df['TEAM_ABBREVIATION'] == filtered_df['team1'], 'ABBREVIATION'] = filtered_df['team2']
filtered_df.loc[filtered_df['TEAM_ABBREVIATION'] != filtered_df['team1'], 'ABBREVIATION'] = filtered_df['team1']

C:\Users\micha\anaconda3\envs\CSE6242\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [78]:
filtered_df[filtered_df['TEAM_CITY']== 'Atlanta']

,GAME_ID,GAME_DATE,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,PTS,MATCHUP,WHERE_PLAYED,team1,team2,ABBREVIATION
22,22201191,2023-04-05,1610612737,ATL,Atlanta,1630180,Saddiq Bey,10.0,WAS @ ATL,AWAY_GAME,WAS,ATL,WAS
23,22201191,2023-04-05,1610612737,ATL,Atlanta,1630180,Saddiq Bey,10.0,ATL vs. WAS,HOME_GAME,ATL,WAS,WAS
24,22201191,2023-04-05,1610612737,ATL,Atlanta,1628381,John Collins,23.0,WAS @ ATL,AWAY_GAME,WAS,ATL,WAS
25,22201191,2023-04-05,1610612737,ATL,Atlanta,1628381,John Collins,23.0,ATL vs. WAS,HOME_GAME,ATL,WAS,WAS
26,22201191,2023-04-05,1610612737,ATL,Atlanta,203991,Clint Capela,9.0,WAS @ ATL,AWAY_GAME,WAS,ATL,WAS
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21209,22200558,2023-01-02,1610612737,ATL,Atlanta,1630235,Trent Forrest,NaN,ATL @ GSW,AWAY_GAME,ATL,GSW,GSW
21210,22200558,2023-01-02,1610612737,ATL,Atlanta,1626163,Frank Kaminsky,NaN,GSW vs. ATL,HOME_GAME,GSW,ATL,GSW
21211,22200558,2023-01-02,1610612737,ATL,Atlanta,1626163,Frank Kaminsky,NaN,ATL @ GSW,AWAY_GAME,ATL,GSW,GSW
21212,22200558,2023-01-02,1610612737,ATL,Atlanta,1630249,Vit Krejci,NaN,GSW vs. ATL,HOME_GAME,GSW,ATL,GSW
21213,22200558,2023-01-02,1610612737,ATL,Atlanta,1630249,Vit Krejci,NaN,ATL @ GSW,AWAY_GAME,ATL,GSW,GSW

In [93]:
TARGET_PLAYERS = [1628384,1627783,1629027,1627749,1628973,1628415,1630217,203497,1630162,1630180,204001,203078,1631101]

In [94]:
filtered_df = filtered_df[filtered_df['PLAYER_ID'].isin(TARGET_PLAYERS)]

In [95]:
filtered_df

,GAME_ID,GAME_DATE,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,PTS,MATCHUP,WHERE_PLAYED,team1,team2,ABBREVIATION
22,22201191,2023-04-05,1610612737,ATL,Atlanta,1630180,Saddiq Bey,10.0,WAS @ ATL,AWAY_GAME,WAS,ATL,WAS
23,22201191,2023-04-05,1610612737,ATL,Atlanta,1630180,Saddiq Bey,10.0,ATL vs. WAS,HOME_GAME,ATL,WAS,WAS
28,22201191,2023-04-05,1610612737,ATL,Atlanta,1627749,Dejounte Murray,19.0,WAS @ ATL,AWAY_GAME,WAS,ATL,WAS
29,22201191,2023-04-05,1610612737,ATL,Atlanta,1627749,Dejounte Murray,19.0,ATL vs. WAS,HOME_GAME,ATL,WAS,WAS
30,22201191,2023-04-05,1610612737,ATL,Atlanta,1629027,Trae Young,25.0,WAS @ ATL,AWAY_GAME,WAS,ATL,WAS
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21293,22200553,2023-01-02,1610612761,TOR,Toronto,1627783,Pascal Siakam,26.0,IND vs. TOR,HOME_GAME,IND,TOR,IND
21374,22200557,2023-01-02,1610612750,MIN,Minnesota,203497,Rudy Gobert,8.0,MIN vs. DEN,HOME_GAME,MIN,DEN,DEN
21375,22200557,2023-01-02,1610612750,MIN,Minnesota,203497,Rudy Gobert,8.0,DEN @ MIN,AWAY_GAME,DEN,MIN,DEN
21378,22200557,2023-01-02,1610612750,MIN,Minnesota,1630162,Anthony Edwards,29.0,MIN vs. DEN,HOME_GAME,MIN,DEN,DEN
21379,22200557,2023-01-02,1610612750,MIN,Minnesota,1630162,Anthony Edwards,29.0,DEN @ MIN,AWAY_GAME,DEN,MIN,DEN

In [96]:
filtered_df.to_csv('playerbygame_forecasting.csv', index=False)